{% extends "property_manager/base.html" %}
{% load staticfiles i18n %}
{% load bootstrap_tags %}
{% load leaflet_tags %}

{% block site_heading %}{% trans "Add user" %}{% endblock %}

{% block head %}
{{ block.super }}
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}

{% if saved %}
	<div class="alert alert-success">Changes saved.</div>
{% endif %}

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Editing: {{property}}</h2>
                <p class="lead">Simple fill out the following form</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<form method="post">
{% csrf_token %}
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					{{ form|as_bootstrap }}
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>	

	<!-- Call to Action -->
	<aside class="call-to-action bg-primary">
		<div class="container">
		    <div class="row">
		        <div class="col-lg-12 text-center">
		            <h3>What do you like to do?</h3>
		            <div class="form-actions">
					  <button type="submit" class="btn btn-lg btn-light">Save changes!</button>
					  <a href="{% url 'property_detail' property.pk %}" class="btn btn-lg btn-dark">Cancel</a>
					</div>
		        </div>
		    </div>
		</div>
	</aside>
</form>
    

{% endblock %}
